@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
}

body{
    font-family: "Montserrat", sans-serif; /* Define a fonte do corpo do documento como 'Montserrat', que é uma fonte sans-serif. */    
    background-color: #dedede; /* Define a cor de fundo do corpo do documento como um cinza claro (#dedede). Esta cor será visível se a imagem de fundo não for carregada. */
    justify-content: center; /* Centraliza os elementos filhos do corpo do documento horizontalmente. Isso só funciona porque o display está definido como 'flex'. */    
}


body::after {
    content: "";
    background: url('../img/fundo.jpg');
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}


/* *********************************************************************************************************** */
/* ESTRUTURA DO HEADER*/

#header{
    display: flex;              /* O layout do elemento é definido como flexível, permitindo que seus filhos sejam alinhados e distribuídos de maneira flexível. */
    justify-content: space-between; /* Os itens filhos são distribuídos uniformemente no contêiner, com espaço máximo entre eles. */
    align-items: center;        /* Os itens filhos são centralizados verticalmente no contêiner. */
    padding: 1%;                /* O preenchimento é definido como 1% em todos os lados do elemento. */
    background-color: #0693e3;  /* A cor de fundo do elemento é definida como um tom de azul claro. */
    position: relative;         /* A posição do elemento é definida como relativa, o que significa que ele será posicionado em relação ao seu local normal. */
    top: 0;                     /* O elemento é posicionado no topo do contêiner. */
    height:120px;               /* Adicione esta linha para fixar a altura em 50 pixels. Ajuste o valor conforme necessário. */
    width: 100%;                /* A largura do elemento é definida como 100%, ocupando todo o espaço horizontal disponível. */
    z-index: 10;                /* O elemento tem um índice de pilha de 10, o que significa que ele será empilhado acima de elementos com um índice de pilha menor. */
}


/* Imagem de logo */
#logo {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    background-color: #f0f0f0; /* Cor de fundo desejada */
    border: 1px solid #ccc; /* Borda desejada */ 
    border-radius: 50%;       
}

#logo img {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */  
    border-radius: 50%; 
}
/* FIM - imagem de logo */

/* Campo Bom dia */
#bomdia {
    position: center;  /* Centraliza o elemento na horizontal*/   
}



/* Botão sair*/
#btnAjuda button{
    background-color: rgb(202, 39, 161);
    color: #fff ;    
    border: 1px solid rgb(202, 39, 161);
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: 40px;
}

/* FIM - botão sair */


/* IMAGEM - Usuario */
#usuario {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    background-color: #f0f0f0; /* Cor de fundo desejada */
    border: 1px solid #ccc; /* Borda desejada */   
    border-radius: 50%; 
}

#usuario img {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */  
}
/* FIM - Imagem usuario */

/* *********************************************************************************************************** */
/* ESTILO PARA TELA CENTRAL*/

#login{       
    background-color: #00d084;
    width: 250px;
    border: 5px solid #424242;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

img{
    width: 150px;
    display: block;
    margin: 0 auto; 
    border-radius: 50%;
    box-shadow: 2px 2px 2px #424242;
    
}

/* *********************************************************************************************************** */
/* Estilos para FOOTER*/

footer {    
    align-items: center;        
    padding: 1%;                
    background-color: rgb(202, 39, 161);  
    position: fixed;            
    bottom: 0;                  
    height: 100px;              
    width: 100%;                
    z-index: 10;                
}

.rodape {
    display: flex;              
    justify-content: space-around; 
}

.um, .dois, .tres{
    color: #fff;
    margin: auto;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
}

.dois h3{
    margin-bottom: 10px;
}

.redes-sociais a{
    color: #fff;
    font-size: 25px;
}

.redes-sociais a:hover{
    color: #d3d2d2;
}

/*@media normalmente fica em ultimo */
@media screen and (max-width: 500px){
    .rodape{
        display: block;
    }

    .um, .dois, .tres{
        margin-bottom: 20px;
        text-align: center;
    }

    .redes-sociais{
        display: inline;    
    }

    .redes-sociais a{
        margin-right: 5px;
    }

    .conteudo {
        padding: 10% 0;
    }

    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    nav ul{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
