/* ESTRUTURA BASICA COMUN A TODA PAGINA */

/*CORES
-wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100%;
}

body{
    /* pega no site */
    font-family: "Montserrat", sans-serif; 
}

.msgSair {
    display: none; /* Escondido por padrão */
    /* Restante do seu CSS aqui */
}

.msgSair {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1000; /* Fica no topo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0,0,0,0.4); /* Fundo escurecido com opacidade */
}


.conteudo-da-caixa {
    position: fixed; /* Fica fixo na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a caixa */
    z-index: 1001; /* Garante que a caixa fique acima do fundo escurecido */
    background-color: white; /* Fundo sólido branco */
    padding: 20px; /* Espaçamento interno para não colar o texto nas bordas */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para um efeito 3D sutil */
    /* Restante do seu CSS aqui */
}


/* *********************************************************************************************************** */
/* ESTILO PARA HEADER*/
#header{
    display: flex;              /* O layout do elemento é definido como flexível, permitindo que seus filhos sejam alinhados e distribuídos de maneira flexível. */
    justify-content: space-between; /* Os itens filhos são distribuídos uniformemente no contêiner, com espaço máximo entre eles. */
    align-items: center;        /* Os itens filhos são centralizados verticalmente no contêiner. */
    padding: 1%;                /* O preenchimento é definido como 1% em todos os lados do elemento. */
    background-color: #0693e3;  /* A cor de fundo do elemento é definida como um tom de azul claro. */
    position: relative;         /* A posição do elemento é definida como relativa, o que significa que ele será posicionado em relação ao seu local normal. */
    top: 0;                     /* O elemento é posicionado no topo do contêiner. */
    height:120px;               /* Adicione esta linha para fixar a altura em 50 pixels. Ajuste o valor conforme necessário. */
    width: 100%;                /* A largura do elemento é definida como 100%, ocupando todo o espaço horizontal disponível. */
    z-index: 10;                /* O elemento tem um índice de pilha de 10, o que significa que ele será empilhado acima de elementos com um índice de pilha menor. */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    font-weight: bold; /* Deixa a fonte em negrito */
}

/* Imagem de logo */
#logo img {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */  
    border-radius: 50%; 
}

#data_hora{
    font-size: 17px; 
}

/* Campo pesquisar */
#pesquisar {
    position: center;  /* Centraliza o elemento na horizontal*/      
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    transition: width 0.4s;
}

input[type="text"]:focus {
    width: 320px;
}

#pesquisar button {
    background-color: #f9fafa;
    border: none;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}

img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

/* Botão sair*/
#btnSair button{
    background-color: rgb(202, 39, 161);
    color: #fff ;    
    border: 1px solid rgb(202, 39, 161);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: 40px;
}

/* IMAGEM - Usuario */
#usuario {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */
    background-color: #f0f0f0; /* Cor de fundo desejada */
    border: 1px solid #ccc; /* Borda desejada */   
    border-radius: 50%; 
}

#usuario img {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */  
}


/* *********************************************************************************************************** */
/* ESTILO MENU LATERAL*/

#menu-lateral {
    width: 220px;
    height: 120vh;
    background-color: #00d084;
    position: fixed;
    left: 0;
    top: 120px;
    padding: 0px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

#home-button {
    list-style-type: none;
    padding: 0;
    padding-top: 50px;  /* Adicione esta linha para mover os itens do menu para baixo */    
    text-align: center;  /* Centraliza os itens do menu */
}

.button.home {
    background-color: #9b51e0; /* Substitua por qualquer cor que você queira */
}

#configuracao-button {
    list-style-type: none;
    padding: 0;
    padding-top: 50px;  /* Adicione esta linha para mover os itens do menu para baixo */    
    text-align: center;  /* Centraliza os itens do menu */
}

.button.configuracao {
    background-color: #9b51e0; /* Substitua por qualquer cor que você queira */
}

#menu-lateral ul {
    list-style-type: none;
    padding: 0;
    padding-top: 100px;  /* Adicione esta linha para mover os itens do menu para baixo */    
    text-align: center;  /* Centraliza os itens do menu */
}
  
#menu-lateral ul li {
    margin-bottom: 50px;
}
  
#menu-lateral ul li a {
    text-decoration: none;
}
  
.button {
    display: inline-block;  /* Permite que o elemento seja exibido na linha, mas ainda tenha largura e altura definidas */
    width: 80%;  /* Define a largura do botão para ocupar 100% do espaço disponível de seu contêiner pai */
    padding: 10px 0;  /* Define o preenchimento ao redor do conteúdo do botão. 10px 0 significa que o preenchimento superior e inferior é de 10px, enquanto o preenchimento esquerdo e direito é de 0 */
    font-size: 20px;  /* Define o tamanho da fonte do texto dentro do botão para 20 pixels */
    cursor: pointer;  /* Muda o cursor para um ponteiro quando você passa o mouse sobre o botão */
    text-align: center;  /* Centraliza o texto dentro do botão */
    text-decoration: none;  /* Remove qualquer decoração de texto, como sublinhado, do texto dentro do botão */
    outline: none;  /* Remove o contorno que aparece quando você clica no botão */
    color: #fff;  /* Define a cor do texto dentro do botão para branco */
    background-color: #FF6900;  /* Define a cor de fundo do botão para um tom de verde */
    border: none;  /* Remove a borda do botão */
    border-radius: 5px;  /* Arredonda os cantos do botão. Quanto maior o valor, mais arredondados serão os cantos */
    box-shadow: 10px 5px 15px rgba(0,0,0,0.3);  /* Adiciona uma sombra ao botão. O primeiro valor é o deslocamento horizontal da sombra, o segundo valor é o deslocamento vertical e o terceiro valor é a cor da sombra */
}
  
.button:hover {
    background-color: #cf2e2e
}
  
.button:active {
    background-color: #fcb900;
    box-shadow: 0 5px rgba(0,0,0,0.3);
    transform: translateY(4px);
}

/* *********************************************************************************************************** */
/* ESTILO PARA TELA CENTRAL*/
/* Elemento pai que contém #veiculo e #estoque */

/* Estilo do fundo escurecido */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
  }
  
  /* Estilo do pop-up */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Isso vai arredondar as bordas do pop-up */
    text-align: center; /* Centraliza o texto */
    color: red; /* Muda a cor do texto para vermelho */
  }

#tableveiculos{
    margin-left: 300px; 
    margin-top: 20px; 
    font-weight: bold;
    font-size: medium;
}

#tableveiculos th, #tableveiculos td {
    text-align: center;
}


#formcadastro {
    margin-left: 300px; 
    margin-top: 20px; 
    font-weight: bold;
    font-size: medium;
}

#formcadastro select {
    font-size: 16px; 
    height: 30px; 
    border: 1px solid black; 
    border-radius: 5px;
    font-weight: bold;
}

#formcadastro input {
    font-size: 16px; 
    height: 30px; 
    border: 1px solid black; 
    border-radius: 5px; 
}

#btnsalvar {
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    height: 60px; /* Ajuste a altura conforme necessário */
    width: 120px;
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: 1px solid rgb(202, 39, 161);          
    display: inline-block; /* Tipo de exibição */
    margin: auto; /* Margem externa do botão */
    cursor: pointer; /* Tipo de cursor ao passar o mouse sobre o botão */   
    line-height: 10px; /* Isso deve ser igual à altura do botão para centralizar o texto verticalmente */   
}

#btnsalvar:hover {
    background-color: #49fa03; /* Cor de fundo do botão ao passar o mouse */
}

#btnsalvar:active {
    background-color: #43ec8f;
    box-shadow: 0 5px rgba(0,0,0,0.3);
    transform: translateY(4px);
}

#central {
    position: absolute; /* relative ou absolute, fixed, sticky */
    top: 300px; 
    left: 700px;     
}

.cadastro {    
    padding: 0;  /* Define o preenchimento ao redor do conteúdo do botão. 10px 0 significa que o preenchimento superior e inferior é de 10px, enquanto o preenchimento esquerdo e direito é de 0 */
    cursor: pointer;  /* Muda o cursor para um ponteiro quando você passa o mouse sobre o botão */
    order: none;   /*Remove a borda do botão */
    box-shadow: 10px 5px 15px rgba(0,0,0,0.3);
}
  
.cadastro:active {
    background-color: #fcb900;
    box-shadow: 0 5px rgba(0,0,0,0.3);
    transform: translateY(4px);
}

/* Estilos comuns para #veiculo e #estoque dentro de #conteudo */
#veiculo {    
    width: 300px; /* Define a largura do elemento */
    height: 300px; /* Define a altura do elemento */  
}

/* Estilos comuns para #veiculo e #estoque dentro de #conteudo */
#estoque {    
    width: 300px; /* Define a largura do elemento */
    height: 300px; /* Define a altura do elemento */    
}


/* Estilo para o fundo do corpo */
body::after {
    content: "";                /* Cria um pseudo-elemento vazio */
    background: url('../img/fundo.jpg'); /* Define a imagem de fundo */
    opacity: 0.3;               /* Define a opacidade da imagem de fundo */
    background-size: cover;     /* A imagem de fundo é redimensionada para cobrir todo o elemento */
    background-position: center;/* A imagem de fundo é posicionada no centro do elemento */
    top: 0;                     /* O pseudo-elemento é posicionado no topo do elemento pai */
    left: 0;                    /* O pseudo-elemento é posicionado à esquerda do elemento pai */
    bottom: 0;                  /* O pseudo-elemento é posicionado na parte inferior do elemento pai */
    right: 0;                   /* O pseudo-elemento é posicionado à direita do elemento pai */
    position: fixed;            /* A posição do pseudo-elemento é definida como fixa */
    z-index: -1;                /* O pseudo-elemento tem um índice de pilha de -1 */
}



/* *********************************************************************************************************** */
/* ESTILO PARA FOOTER*/

footer {    
    align-items: center;        /* Centraliza os itens filhos verticalmente no contêiner. */
    padding: 1%;                /* Define o preenchimento como 1% em todos os lados do elemento. */
    background-color: rgb(202, 39, 161);  /* Define a cor de fundo do elemento como um tom de azul claro. */
    position: fixed;            /* Define a posição do elemento como fixa, o que significa que ele será posicionado em relação à janela de visualização. */
    bottom: 0;                  /* Posiciona o elemento na parte inferior da janela de visualização. */
    height: 100px;              /* Define a altura do elemento como 100 pixels. */
    width: 100%;                /* Define a largura do elemento como 100%, ocupando todo o espaço horizontal disponível. */
    z-index: 10;                /* Define o índice de pilha do elemento como 10, o que significa que ele será empilhado acima de elementos com um índice de pilha menor. */
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3);
}

.rodape {
    display: flex;              /* Define o layout do elemento como flexível, permitindo que seus filhos sejam alinhados e distribuídos de maneira flexível. */
    justify-content: space-around; /* Distribui os itens filhos uniformemente no contêiner, com espaço ao redor deles. */
}

.um, .dois, .tres{
    color: #fff;
    margin: auto;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
}

.dois h3{
    margin-bottom: 10px;
}

.redes-sociais a{
    color: #fff;
    font-size: 25px;
}

.redes-sociais a:hover{
    color: #d3d2d2;
}

/*@media normalmente fica em ultimo */
@media screen and (max-width: 500px){
    .rodape{
        display: block;
    }

    .um, .dois, .tres{
        margin-bottom: 20px;
        text-align: center;
    }

    .redes-sociais{
        display: inline;    
    }

    .redes-sociais a{
        margin-right: 5px;
    }

    .conteudo {
        padding: 10% 0;

    }

    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    nav ul{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;

    }
}
