body{
    background-color: #036;
    color: #fff;
}

@media screen and (max-width: 900px) {
    body{
        background-color: #ccc;
        color: #000;

    }
    
}

@media screen and(max-width: 500px){
    body{
        background-color: rgb(239, 89, 0 );
        color: #fff; 
    }
}
 
/*CTRL+SHIFT+I > cham o ispecionador de pagina*/