@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* pega no site */
    font-family: "Montserrat", sans-serif; 
}

#container{
    width: 100%;
}

header{
    background-image: url(../imagens/teste.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    box-shadow: 2px, 2px, 2px #000;
}

li a.hover{
    border-bottom: 3px solid #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul{
    list-style-type: none;
    display: flex;
}
    
nav ul li{
    margin-left: 100%;
}

.btn-cadastro button{
    background-color: rgb(202, 39, 161);
    color: #fff ;
    padding: 5%;
    border: 1px solid rgb(202, 39, 161);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.texto h1{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteudo{
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}

.conteudo h1{
    margin-bottom: 2%;
}

.conteudo p{
    margin-bottom: 1%;
}

.servicos{
    background-color: rgb(120, 129, 200);
}

.servicos .conteudo{
    color: #fff;
}

input[type="text"], input[type="email"], select{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
}

textarea{
    width: 100%;
}

input[type="submit"]{
    background-color: rgb(38, 155, 38);
    color: #fff;
    border: 1px solid rgb(38, 155, 38);
    padding: 5px 10px;
    float: right;
    cursor: pointer;
}

input[type="submit"] :hover{
    background-color: rgb(50 ,206, 50);
    border: 1px solid rgb(50, 206, 50);
}

footer{
    background-color: rgb(120, 129, 200);
}

.rodape{
    display: flex;
    justify-content: space-around;

}

.um, .dois, .tres{
    color: #fff;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
}

.dois h3{
    margin-bottom: 10px;
}

.redes-sociais a{
    color: #fff;
    font-size: 20px;
}

.redes-sociais a:hover{
    color: #d3d2d2;
}

@media screen and (max-width: 500px){
    .rodape{
        display: block;
    }

    .um, .dois, .tres{
        margin-bottom: 20px;
        text-align: center;
    }

    .redes-sociais{
        display: inline;
    }

    .redes-sociais a{
        margin-right: 5px;
    }

    .conteudo {
        padding: 10% 0;

    }
}