#manutencaoA, #manutencaoB, #manutencaoC {
    float: left; /* Lado a lado */
    width: 25%; /* Largura de 1/4 */
    box-sizing: border-box; /* Inclui padding e border */
    padding: 10px; /* Espaço interno */
    margin-left: 280px; /* Espaço à esquerda */
    margin-top: 40px; /* Espaço acima */
    min-height: 100px; /* Altura mínima */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Sombra */
}

.clearfix h2 {
    text-align: center; /* Centraliza o título */
}

/* Limpa os floats após os elementos .clearfix */
.clearfix::after {
    content: ""; /* Conteúdo vazio necessário para a pseudo-elemento */
    clear: both; /* Limpa ambos os lados do float */
    display: table; /* Tipo de exibição que permite o clear funcionar */
}

.clearfix p {
    text-align: center; /* Centraliza o parágrafo */
    margin-left: auto; /* Margem automática à esquerda */
    margin-right: auto; /* Margem automática à direita */
    width: 50%; /* Largura do parágrafo */
    margin-top: 40px; /* Espaço acima do parágrafo */
    font-size: xx-large; /* Tamanho grande da fonte */
    font-weight: bold; /* Fonte em negrito */
}

#manutencaoA, #manutencaoB {
    margin-right: 20px; /* Espaço à direita */
}

#manutencaoB, #manutencaoC {
    margin-left: 20px; /* Espaço à esquerda */
}

#manutencaoA, #manutencaoB, #manutencaoC {
    background-color: #f78da7; /* Cor de fundo rosa */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid black; /* Borda preta fina */
    border-radius: 10px; /* Bordas arredondadas */    
}

#manutencao dt {
    color: black; /* Cor do texto preto */
    font-weight: bold; /* Fonte em negrito */
}

#manutencao dd {
    margin-left: 20px; /* Espaço à esquerda para definição */
}

#manutencao ol {
    padding-left: 40px; /* Espaçamento interno à esquerda para lista ordenada */
}

#manutencao li {
    line-height: 2; /* Espaçamento entre linhas dos itens da lista */
    font-weight: bold; /* Fonte em negrito para itens da lista */
}

#manutencao ul {
    margin-left: 30px; /* Espaço à esquerda para lista não ordenada */
}

li::before {    
    counter-increment: item; /* Incrementa o contador para itens da lista */
    margin-right: 20px; /* Espaço entre número e texto do item da lista */
}

input[type="checkbox"] {
    transform: scale(1.5); /* Aumenta o tamanho das caixas de seleção (checkbox) */
    margin-right: 15px; /* Espaço após a caixa de seleção (checkbox) */
}

#btnfinalizarA, #btnfinalizarB, #btnfinalizarC {
    font-size: 18px; /* Tamanho da fonte do botão */
    width: 110px;
    height: 35px;
    background-color: #029243; /* Cor de fundo verde do botão */
    color: black; /* Cor do texto preto do botão */
    border-radius: 10px;        
    display: inline-block; 
    cursor: pointer;
}

#btnfinalizarA:hover, #btnfinalizarB:hover, #btnfinalizarC:hover {
    background-color: #02ee6c; /* Cor de fundo ao passar o mouse (hover) sobre o botão */
}

#btnfinalizarA:active, #btnfinalizarB:active, #btnfinalizarC:active {
    background-color: #43ec8f;
}
