@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico de CSS para remover margens e preenchimentos padrão e definir box-sizing para border-box em todos os elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Define a largura do container como 100% da largura disponível */
#container{
    width: 100%;
}

/* Estilos aplicados ao corpo do documento */
body{
    font-family: "Montserrat", sans-serif; /* Define a fonte do corpo do documento */
    background-color: #dedede; /* Cor de fundo do corpo do documento */
    justify-content: center; /* Centraliza os elementos filhos horizontalmente (necessita display:flex no body) */    
}

/* Pseudo-elemento after aplicado ao corpo para adicionar uma imagem de fundo com opacidade reduzida */
body::after {
    content: ""; /* Conteúdo vazio necessário para exibir o pseudo-elemento */
    background: url('../img/fundo.jpg'); /* Caminho da imagem de fundo */
    opacity: 0.3; /* Opacidade da imagem de fundo */
    background-size: cover; /* A imagem de fundo cobre todo o espaço disponível */
    background-position: center; /* A imagem de fundo é centralizada */
    top: 0; /* Posição superior fixa */
    left: 0; /* Posição esquerda fixa */
    bottom: 0; /* Posição inferior fixa */
    right: 0; /* Posição direita fixa */
    position: fixed; /* Posicionamento fixo na página */
    z-index: -1;   /* Coloca o pseudo-elemento atrás do conteúdo da página */
}



/* *********************************************************************************************************** */
/* ESTRUTURA DO HEADER*/

#header{
    display: flex;              /* O layout do elemento é definido como flexível, permitindo que seus filhos sejam alinhados e distribuídos de maneira flexível. */
    justify-content: space-between; /* Os itens filhos são distribuídos uniformemente no contêiner, com espaço máximo entre eles. */
    align-items: center;        /* Os itens filhos são centralizados verticalmente no contêiner. */
    padding: 1%;                /* O preenchimento é definido como 1% em todos os lados do elemento. */
    background-color: #0693e3;  /* A cor de fundo do elemento é definida como um tom de azul claro. */
    position: relative;         /* A posição do elemento é definida como relativa, o que significa que ele será posicionado em relação ao seu local normal. */
    top: 0;                     /* O elemento é posicionado no topo do contêiner. */
    height:100px;               /* Adicione esta linha para fixar a altura em 50 pixels. Ajuste o valor conforme necessário. */
    width: 100%;                /* A largura do elemento é definida como 100%, ocupando todo o espaço horizontal disponível. */
    z-index: 10;                /* O elemento tem um índice de pilha de 10, o que significa que ele será empilhado acima de elementos com um índice de pilha menor. */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

}

/* Imagem de logo */
#logo img {    
    width: 60px; /* Largura desejada */
    height: 60px; /* Altura desejada */  
    border-radius: 50%; 
}


/* Campo Bom dia */
#bomdia {
    display: flex;          /* Transforma a div em um container flexível */
    flex-direction: column; /* Organiza os itens filhos em colunas */
    justify-content: center;/* Centraliza os itens filhos verticalmente */
    align-items: center;    /* Centraliza os itens filhos horizontalmente */
    height: 100vh;          /* Define a altura da div para 100% da altura da janela */
}


/* Campo data e hora */
#datahora {
    display: flex;          /* Transforma a div em um container flexível */
    flex-direction: column; /* Organiza os itens filhos em colunas */
    justify-content: center;/* Centraliza os itens filhos verticalmente */
    align-items: center;    /* Centraliza os itens filhos horizontalmente */
    height: 100vh;          /* Define a altura da div para 100% da altura da janela */
    font-size: 20px;
    font-weight: bold; /* Deixa a fonte em negrito */
}


/* Botão sair*/
#btnAjuda button{
    background-color: rgb(202, 39, 161);
    color: #fff ;    
    border: 1px solid rgb(202, 39, 161);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: 40px;
}


/* *********************************************************************************************************** */
/* ESTILO PARA TELA CENTRAL*/

#login {
    display: flex; /* Exibe como flexbox */
    flex-direction: column; /* Organiza os filhos em coluna */
    justify-content: center; /* Centraliza os filhos verticalmente */
    align-items: center; /* Centraliza os filhos horizontalmente */
    background-color: #00d084; /* Cor de fundo verde */
    width: 250px; /* Largura do elemento de login */
    border: 5px solid #424242; /* Borda sólida cinza escura */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 50px; /* Espaçamento interno */
    position: absolute; /* Posicionamento absoluto na página */
    top: 50%; /* Posicionado no meio verticalmente */
    left: 50%; /* Posicionado no meio horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o elemento exatamente no meio da tela */ 
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Sombra suave ao redor do elemento */   
}

#login > * {
    margin-bottom: 15px; /* Espaçamento abaixo de cada elemento filho dentro de #login */
}

label, input{
    font-size: 20px; /* Tamanho da fonte para labels e inputs */
    width: 200px; /* Largura fixa para labels e inputs */
    font-weight: bold; /* Fonte em negrito para labels e inputs */
    border-radius: 5PX; /* Bordas arredondadas para labels e inputs */ 
}

img {
    width: 150px; /* Largura da imagem */
    display: block; /* Exibe a imagem como bloco (ocupa uma linha inteira) */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    border-radius: 50%; /* Deixa a imagem circular */
    box-shadow: 2px 2px 2px #424242; /* Sombra suave ao redor da imagem */
}

button {
    background-color: #FF6900; /* Cor de fundo laranja para o botão */
    color: #fff ; /* Cor do texto branco para o botão */   
    border: 1px solid rgb(202, 39, 161); /* Borda sólida rosa para o botão */
    border-radius: 20PX; /* Bordas arredondadas para o botão */
    font-size: 20px; /* Tamanho da fonte para o botão */
    cursor: pointer; /* Cursor em forma de ponteiro ao passar o mouse sobre o botão */
    margin-right: auto; /* Margem à direita automática para alinhar à esquerda dentro de um container flexível */
    width: 100px; /* Largura do botão */
    height: 40px; /* Altura do botão */
}



/* *********************************************************************************************************** */
/* Estilos para FOOTER*/

/* Estilos aplicados ao rodapé */
footer {    
    align-items: center; /* Centraliza os elementos filhos verticalmente */       
    padding: 1%; /* Preenchimento interno de 1% */               
    background-color: rgb(202, 39, 161); /* Cor de fundo rosa */ 
    position: fixed; /* Posicionamento fixo na página */           
    bottom: 0; /* Posicionado na parte inferior da página */                 
    height: 100px; /* Altura do rodapé */             
    width: 100%; /* Largura do rodapé estendida para toda a largura da página */               
    z-index: 10; /* Coloca o rodapé acima de outros elementos na página */ 
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3); /* Sombra acima do rodapé */             
}

/* Estilos aplicados ao container .rodape */
.rodape {
    display: flex; /* Exibe como flexbox */             
    justify-content: space-around; /* Espaçamento igual entre os elementos filhos */ 
}

/* Estilos comuns aplicados às classes .um, .dois e .tres */
.um, .dois, .tres{
    color: #fff; /* Cor do texto branco */
    margin: auto; /* Margem automática para centralizar verticalmente dentro do flex container */
}

/* Estilos aplicados ao container .redes-sociais */
.redes-sociais{
    display: flex; /* Exibe como flexbox */
    justify-content: space-between; /* Espaçamento igual entre os links das redes sociais */
}

/* Estilo aplicado aos títulos h3 dentro da classe .dois */
.dois h3{
    margin-bottom: 10px; /* Margem abaixo dos títulos h3 */
}

/* Estilos aplicados aos links dentro de .redes-sociais */
.redes-sociais a{
    color: #fff; /* Cor do texto branco para os links */
    font-size: 25px; /* Tamanho da fonte dos links */
}

/* Estilos para o estado hover dos links dentro de .redes-sociais */
.redes-sociais a:hover{
    color: #d3d2d2; /* Cor do texto cinza claro quando o mouse passa sobre os links */
}

/* Media query para telas com largura máxima de 500px */
@media screen and (max-width: 500px){
    .rodape{
        display: block; /* Exibe os elementos em bloco (um abaixo do outro) */
    }

    .um, .dois, .tres{
        margin-bottom: 20px; /* Margem abaixo de cada elemento para espaçamento adicional */
        text-align: center; /* Centraliza o texto horizontalmente */
    }

    .redes-sociais{
        display: inline; /* Exibe os links das redes sociais em linha (um ao lado do outro) */   
    }

    .redes-sociais a{
        margin-right: 5px; /* Margem à direita dos links para espaçamento entre eles */
    }

    .conteudo {
        padding: 10% 0; /* Preenchimento vertical de 10% acima e abaixo do conteúdo principal */
    }

    nav{
        display: flex; /* Exibe como flexbox */
        flex-direction: column; /* Organiza os elementos filhos em coluna (um abaixo do outro) */
        padding: 20px; /* Preenchimento interno de 20px em todos os lados */
    }

    nav ul{
        margin-bottom: 20px; /* Margem abaixo da lista não ordenada para espaçamento adicional */
        display: flex; /* Exibe como flexbox */
        justify-content: space-around; /* Espaçamento igual entre os itens da lista não ordenada */
        width: 100%; /* Largura estendida para toda a largura disponível da lista não ordenada */
    }
}

